<h1>Listing all teams</h1>

<%if  !@teams.any? %>
<p>No teams created yet for today's bowling, please create a new team.</p>
<%else%>
<table id = "posttbl">
  <tr>
    <th>Name</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= link_to 'View', team_path(team) %></td>
      <td><%= link_to 'Delete', team_destroy_path(id: team),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%end%>
<br>
<br>

<%= button_to 'New Team', teams_new_path, :class => "team", :method => :get %>
<br><br>
