<h1>Listing all teams</h1>

<table id = "posttbl">
  <tr>
    <%if  @teams.any? %>
    <th>Name</th>
    <%else %>
    <th>No teams created yet for today's bowling, please create a new team.</th>
    <%end%>
  </tr>

  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= link_to 'View', team_path(team) %></td>
      <td><%= link_to 'Delete', team_destroy_path(id: team),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<br>

<%= link_to 'New Team', teams_new_path %>
<br><br>
