<% if Day.where(date: Date.today).empty? %>
<h1>Welcome to the Bowling Web App</h1>
<% @day = Day.new %>
<% @day.date = Date.today %>
<% @day.save %>
<% else %>
<h1>Today's Rounds</h1>
<% roundNumber = 1  %>

<%Round.where(day_id: Day.where(date: Date.today).last.id).each do |round| %>
<%if !Score.where(round_id: round.id).empty? %>
<h2>Round: <%= roundNumber %></h2>
<% roundNumber = roundNumber + 1  %>
<% @team_ids = [] %>
<% TeamsInDay.where(day_id: Day.where(date: Date.today).last.id).each do |t| %>
<% @team_ids << t.team_id %>
<%end%>

<%Team.find(@team_ids).each do |team| %>
  <%@team = team %>
  <h3> Team: <%= @team.name %></h3>
  <%MembersInTeam.where(team_id: @team.id).each do |m| -%>
    <p><%= Member.find(m.member_id).name  %>: </p>
    <% if !Score.where(round_id: round.id, member_id: m.member_id).empty? %>
      <p><%= Score.where(round_id: round.id, member_id: m.member_id).last.score %> </p>
    <%end%>
  <%end %>
<%end%>
<%end%>
<%end%>
<%end%>
