<% if Day.where(date: Date.today).empty? %>
<h1>Welcome to the Bowling Web App</h1>
<% @day = Day.new %>
<% @day.date = Date.today %>
<% @day.save %>
<% else %>

<h1>Listing all Days</h1>
<table id = "posttbl">
  <%@days = Day.all %>
  <tr>
    <%if @days.any? %>
    <th>Date</th>
    <%end%>
  </tr>


<% @days.each do |day| %>
  <tr>
    <td><%= day.date %></td>
    <td><%= link_to 'View', day_path_path(day),
      method: :show %></td>
  </tr>
<% end %>
</table>
<br>
<br>

<%end%>
