<h1>Round</h1>
<% @round = Round.new %>
<% @round.day_id = Day.where(date: Date.today).last.id %>
<% @round.save %>
<%=form_for Round.last do |round| %>

<% @teams_ids = [] %>
<% TeamsInDay.where(day_id: Day.where(date: Date.today).last.id).each do |t| %>
<% @teams_ids << t.team_id %>
<%end%>


<%Team.where(id: @teams_ids).each do |team| %>
  <%@team = team %>
  <%= render 'teamRound' %>
<%end%>
<%= submit_tag "Submit" %>
<%end%>
