<h1>Listing all members</h1>

<table id = "posttbl">
  <tr>
    <th>Name</th>
  </tr>

  <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= link_to 'Remove', members_deactivate_path(id: member),
        method: :deactivate,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<br>

<%= link_to 'New Member', members_new_path %>
<br>
<br>
